/* Секция Герой */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  
    background-image: linear-gradient(
        to right,
        $hero-gradient-color,
        $hero-gradient-color
      ),
      url('../img/Header/Hero_opt.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    &-title {
      width: 696px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
  
      font-weight: 900;
      font-size: 44px;
      line-height: 1.4;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  
  .hero .button {
    display: block;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-right: auto;
    margin-left: auto;
    border-width: 0px;
    border-radius: 4px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    color: $primary-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: $secondaty-accent-color;
    }
  }