html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: $main-font;
    letter-spacing: 0.03em;
  }
  
  a:active,
  a:focus {
    outline: none;
  }
  
  input,
  textarea,
  button {
    outline: none;
  }
  input:active,
  textarea:active {
    outline: none;
  }
  :focus {
    outline: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .list {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  .link {
    text-decoration: none;
    display: block;
  }
  
  textarea {
    resize: none;
  }
  
  label {
    display: block;
  }
  .subject {
    display: none;
  }
  a {
    text-decoration: none;
  }