@import './utils/variables';
@import './base/base';
@import './components/container';
@import './components/section';
@import './components/buttons';
@import './components/modal';
@import './components/socials';

@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/what-we-doing';
@import './layout/ourteam';
@import './layout/main-clients';
@import './layout/footer';
@import './layout/portfolio';