.button,
.button-footer {
  color: $primary-white-color;
  background-color: $secondaty-accent-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-footer {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;

  justify-content: center;

  width: 200px;
  height: 50px;
  background-color: $accent-color;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Кнопки фильтров */
.button-filter,
.button-filter-secondary {
  border-radius: 4px;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: $secondaty-accent-color;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.button-filter-secondary {
  color: $primary-title-color;
  background-color: $secondary-white-color;
}
.button-filter:hover,
.button-filter:focus,
.button-filter-secondary:hover,
.button-filter-secondary:focus {
  color: $primary-white-color;
  background-color: $secondaty-accent-color;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}