.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  visibility: visible;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: translateY(0);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.modal_invite {
  margin-bottom: 30px;

  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-title-color);
}

.connection {
  display: flex;
  flex-wrap: wrap;
}

.connection_input {
  width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

}

.connection_field {
  position: relative;
  margin-bottom: 28px;
}

.connection_label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  margin-right: 8px;
}

.connection_textarea {
  position: relative;
  margin-bottom: 20px;
}

.connection_label-textarea {
  position: absolute;
  top: 12px;
  left: 16px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connection_textarea-input {
  width: 448px;
  height: 120px;
  margin-bottom: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.connection_link {
  font-size: 14px;
  line-height: 1.71;

  margin-left: 4px;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-color);
}


/* Чекбокс */

.checkbox_input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.checkbox_custom {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -20px;
  border: 2px solid $main-black-color;
  border-radius: 2px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  padding: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal_icon {
  width: 18px;
  height: 18px;
  margin: auto;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal_button-close:hover .modal_icon,
.modal_button-close:focus .modal_icon {
  fill: $accent-color
}