.team-socials-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $primary-white-color;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
  
  .footer-socials-item-link {
    @extend .team-socials-item-link;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icon-socials-team {
    width: 20px;
    height: 20px;
    fill: $socials-main-color;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .team-socials-item-link:hover & {
      fill: $primary-white-color;
    }
  }
  
  .icon_footer {
    @extend .icon-socials-team;
    fill: $primary-white-color;
  }