.logo-head {
    margin-right: 85px;
  
    font-family: $second-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    color: $main-black-color;
  
    .logo-decoration {
      color: $accent-color;
    }
  }
  
  header {
    color: var(--main-font-color);
    border-bottom: 1px solid $header-border-color;
  }
  
  header .section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .head .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* оформление навигации сайта */
  .main-no-border {
    border: 0px;
  }
  
  .main-nav,
  .menunav {
    display: flex;
    align-items: center;
  }
  
  .menunav .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .header-util {
    display: flex;
  }
  
  .contacts-list {
    display: flex;
  
    &-item:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .menunav-links {
    position: relative;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    font-style: normal;
    color: $primary-title-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  
  .contacts-links {
    @extend .menunav-links;
    display: flex;
    align-items: center;
  }
  
  .icon-smartphone {
    margin-right: 10px;
    fill: $primary-text-color;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    .contacts-links:focus &,
    .contacts-links:hover & {
      fill: $accent-color;
    }
  }
  
  .icon-envelope {
    @extend .icon-smartphone;
  }
  
  /* Оформление линии на активной страници*/
  
  .current {
    color: $accent-color;
    fill: $accent-color;
  
    &::after {
      position: absolute;
      bottom: 0;
  
      content: '';
      display: block;
      width: 100%;
  
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }