$main-font: 'Roboto', sans-serif;
$second-font: 'Raleway', sans-serif;
$primary-text-color: #757575;
$primary-title-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-background-color: #2f303a;
$secondary-white-color: #f5f4fa;
$main-black-color: #000000;
$footer-links-color: rgba(255, 255, 255, 0.6);
$secondaty-accent-color: #188ce8;
$text-background-color: rgba(47, 48, 58, 0.8);
$socials-main-color: #afb1b8;
$primary-background-color: #e5e5e5;
$portfolio-card-border-color: #eeeeee;
$hero-gradient-color: rgba(47, 48, 58, 0.8);
$header-border-color: #ececec;

$max-width: 1200px;